<div class="recipe-list-container flex-row">
  {{#each recipes}}
    <div
      class="recipe-container adaptive-element-width adaptive-element-height flex-row shadow-border"
      data-id="{{id}}"
    >
      <div class="image-container">
        <img src="{{image_url}}" alt="{{caption}}" />
      </div>
      <div class="text-container flex-column">
        <div class="recipe-caption">{{caption}}</div>
        <div class="recipe-description">{{description}}</div>
      </div>
    </div>
  {{/each}}
</div>