<div class="recipe border">
  <div class="recipe-flex-row">
    <div class="recipe-image">
      <img src="{{image_url}}" alt="{{caption}}" />
    </div>
    <div class="caption-description">
      <div class="caption"><b>{{caption}}</b></div>
      <div class="description-single">{{description}}</div>
    </div>
  </div>
  <div class="recipe-flex-row">
    <div class="timer border"><div>{{duration}}</div></div>
    <button type="button" class="button-previous">Previous step</button>
    <button type="button" class="button-pause">Pause</button>
    <button type="button" class="button-next">Next step</button>
    <button type="button" class="button-exit">Back to menu</button>
  </div>
</div>